In [1]:
import pandas as pd
import os

In [2]:
# df = pd.read_csv(r'C:\Users\mikael.vestri\OneDrive - Thorogood Associates Limited\Desktop\Training\Projects\Bike_Rental\bike-rental-starter-kit\data\JC-201601-citibike-tripdata.csv')

In [3]:
path = r'C:\Users\mikael.vestri\OneDrive - Thorogood Associates Limited\Desktop\Training\Projects\Bike_Rental\bike-rental-starter-kit\data'
df_full = pd.DataFrame()
for file in os.listdir(path):
    if str(file[:2]) == "JC":
        df = pd.read_csv(f"{path}//{file}")
        df_full = pd.concat([df_full,df]) 

df_full.reset_index(drop=True,inplace=True)

In [5]:
df_full['id'] = df_full.index
df_full.tail()
# tem que dar reset index

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,id
247579,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2,247579
247580,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0,247580
247581,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1,247581
247582,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2,247582
247583,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1,247583

In [6]:
df_full.describe()

,Trip Duration,Start Station ID,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,Birth Year,Gender,id
count,2.475840e+05,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,228585.000000,247584.000000,247584.000000
mean,8.856305e+02,3207.065206,40.723121,-74.046438,3203.572553,40.722594,-74.045855,24935.260481,1979.335276,1.123534,123791.500000
std,3.593798e+04,26.955103,0.008199,0.011211,61.579494,0.007958,0.011283,748.469712,9.596809,0.518687,71471.488861
min,6.100000e+01,3183.000000,40.692640,-74.096937,147.000000,40.692216,-74.096937,14552.000000,1900.000000,0.000000,0.000000
25%,2.480000e+02,3186.000000,40.717732,-74.050656,3186.000000,40.716540,-74.050444,24491.000000,1974.000000,1.000000,61895.750000
50%,3.900000e+02,3201.000000,40.721525,-74.044247,3199.000000,40.721124,-74.043117,24609.000000,1981.000000,1.000000,123791.500000
75%,6.660000e+02,3211.000000,40.727596,-74.038051,3211.000000,40.727224,-74.036486,24719.000000,1986.000000,1.000000,185687.250000
max,1.632981e+07,3426.000000,40.752559,-74.032108,3426.000000,40.801343,-73.957390,27274.000000,2000.000000,2.000000,247583.000000

In [7]:
df_full.shape

(247584, 16)

In [8]:
df_full.isna().sum()

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    380
Birth Year                 18999
Gender                         0
id                             0
dtype: int64

In [9]:
df_full.nunique()

Trip Duration                6024
Start Time                 244407
Stop Time                  244137
Start Station ID               51
Start Station Name             51
Start Station Latitude         51
Start Station Longitude        51
End Station ID                102
End Station Name              102
End Station Latitude          102
End Station Longitude         102
Bike ID                       566
User Type                       2
Birth Year                     64
Gender                          3
id                         247584
dtype: int64

In [10]:
df_full.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
id                           int64
dtype: object

In [11]:
df_full.drop_duplicates(inplace=True)
df_full.shape

(247584, 16)

In [12]:
df_full['Birth Year'].fillna(df_full['Birth Year'].mean(), inplace=True)
df_filtered = df_full.dropna(subset=['User Type'])

C:\Users\mikael.vestri\AppData\Local\Temp\ipykernel_29360\1425026347.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_full['Birth Year'].fillna(df_full['Birth Year'].mean(), inplace=True)

In [13]:
df_filtered.shape

(247204, 16)

In [14]:
df_filtered.isnull().sum()

Trip Duration              0
Start Time                 0
Stop Time                  0
Start Station ID           0
Start Station Name         0
Start Station Latitude     0
Start Station Longitude    0
End Station ID             0
End Station Name           0
End Station Latitude       0
End Station Longitude      0
Bike ID                    0
User Type                  0
Birth Year                 0
Gender                     0
id                         0
dtype: int64

In [15]:
#renaming columns to a more standard format 
df_renamed = df_filtered
df_renamed.columns = [x.replace(' ','_').lower() for x in df_renamed.columns]

In [16]:
# redefining column types
df_renamed['birth_year'] = df_renamed['birth_year'].astype('int64')
df_renamed['start_time'] = pd.to_datetime(df_renamed['start_time'])
df_renamed['stop_time'] = pd.to_datetime(df_renamed['stop_time'])

C:\Users\mikael.vestri\AppData\Local\Temp\ipykernel_29360\1529529385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_renamed['birth_year'] = df_renamed['birth_year'].astype('int64')
C:\Users\mikael.vestri\AppData\Local\Temp\ipykernel_29360\1529529385.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_renamed['start_time'] = pd.to_datetime(df_renamed['start_time'])
C:\Users\mikael.vestri\AppData\Local\Temp\ipykernel_29360\1529529385.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_renamed['stop_time'] = pd.to_datetime(df_renamed['stop_time'])

In [17]:
df_renamed.reset_index(inplace=True, drop=True)
df_renamed['id']=df_renamed.index
df_renamed.head()

C:\Users\mikael.vestri\AppData\Local\Temp\ipykernel_29360\934131626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_renamed['id']=df_renamed.index

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,id
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964,2,0
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962,1,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962,2,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984,1,3
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,1979,0,4

In [18]:
df_renamed.head()

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,id
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964,2,0
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962,1,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962,2,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984,1,3
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,1979,0,4

In [20]:
#now let's read the weather data
df_weather = pd.read_csv(r'C:\Users\mikael.vestri\OneDrive - Thorogood Associates Limited\Desktop\Training\Projects\Bike_Rental\bike-rental-starter-kit\data\newark_airport_2016.csv')

In [21]:
df_weather.head()

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TSUN,WDF2,WDF5,WSF2,WSF5
0,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-01,12.75,NaN,0.0,0.0,0.0,41,43,34,NaN,270,280.0,25.9,35.1
1,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-02,9.40,NaN,0.0,0.0,0.0,36,42,30,NaN,260,260.0,21.0,25.1
2,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-03,10.29,NaN,0.0,0.0,0.0,37,47,28,NaN,270,250.0,23.9,30.0
3,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-04,17.22,NaN,0.0,0.0,0.0,32,35,14,NaN,330,330.0,25.9,33.1
4,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-05,9.84,NaN,0.0,0.0,0.0,19,31,10,NaN,360,350.0,25.1,31.1

In [22]:
df_weather.nunique()

STATION      1
NAME         1
DATE       366
AWND        70
PGTM         0
PRCP        56
SNOW        11
SNWD        12
TAVG        69
TMAX        74
TMIN        69
TSUN         0
WDF2        34
WDF5        35
WSF2        32
WSF5        44
dtype: int64

In [23]:
df_weather.dtypes

STATION     object
NAME        object
DATE        object
AWND       float64
PGTM       float64
PRCP       float64
SNOW       float64
SNWD       float64
TAVG         int64
TMAX         int64
TMIN         int64
TSUN       float64
WDF2         int64
WDF5       float64
WSF2       float64
WSF5       float64
dtype: object

In [24]:
df_weather.isnull().sum()

STATION      0
NAME         0
DATE         0
AWND         0
PGTM       366
PRCP         0
SNOW         0
SNWD         0
TAVG         0
TMAX         0
TMIN         0
TSUN       366
WDF2         0
WDF5         2
WSF2         0
WSF5         2
dtype: int64

In [25]:
#dropping these 2 columns that are all nulls
df_weather.drop(['PGTM','TSUN','STATION','NAME','WDF2','WDF5','WSF2','WSF5'], axis=1, inplace=True)

In [26]:
df_weather.dropna(inplace=True)

In [27]:
df_weather['DATE'] = pd.to_datetime(df_weather['DATE'])

In [28]:
df_weather

          DATE   AWND  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN
0   2016-01-01  12.75  0.00   0.0   0.0    41    43    34
1   2016-01-02   9.40  0.00   0.0   0.0    36    42    30
2   2016-01-03  10.29  0.00   0.0   0.0    37    47    28
3   2016-01-04  17.22  0.00   0.0   0.0    32    35    14
4   2016-01-05   9.84  0.00   0.0   0.0    19    31    10
..         ...    ...   ...   ...   ...   ...   ...   ...
361 2016-12-27  13.65  0.01   0.0   0.0    53    62    40
362 2016-12-28   8.28  0.00   0.0   0.0    41    43    31
363 2016-12-29   8.05  0.36   0.0   0.0    38    45    31
364 2016-12-30  14.99  0.00   0.0   0.0    37    42    32
365 2016-12-31  12.30  0.00   0.0   0.0    35    44    29

[366 rows x 8 columns]

Defining the schemas:

1-The most straight forward: weather
2-stations (station ids, coordinates, station names)
3-users (user id(surrogate), user type, birth year, gender)
4-rides (ride id, station start id, station end id, start time, end time, duration)
5-bikes (bike id??)

In [29]:
df_renamed.nunique()

trip_duration                6012
start_time                 244033
stop_time                  243766
start_station_id               51
start_station_name             51
start_station_latitude         51
start_station_longitude        51
end_station_id                102
end_station_name              102
end_station_latitude          102
end_station_longitude         102
bike_id                       566
user_type                       2
birth_year                     64
gender                          3
id                         247204
dtype: int64

In [30]:
df_renamed.sort_values('start_time').tail()

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,id
247199,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981,2,247199
247200,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,1979,0,247200
247201,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978,1,247201
247202,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960,2,247202
247203,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956,1,247203

### Postgres tables:  
let's create dimensions from bike and weather dataframes to perform our data modelling  
  
For Bike we'll have:  
* Stations
* Bikes
* Users
* Rides
* Dates

And for weather we'll have only weather's original dataset

In [31]:
#bike objects
dates = pd.date_range(start='2016-01-01', end='2016-12-31', freq='D')

In [32]:
df_dates = pd.DataFrame(dates,columns=['dates'])

df_dates['year'] = df_dates['dates'].dt.year
df_dates['month'] = df_dates['dates'].dt.month
df_dates['day'] = df_dates['dates'].dt.day
df_dates['day_of_the_week'] = df_dates['dates'].dt.day_name()
df_dates['month_name'] = df_dates['dates'].dt.month_name()

In [33]:
column_order = ['dates', 'year', 'month', 'month_name', 'day', 'day_of_the_week']
df_dates = df_dates[column_order]

In [34]:
#since it's a bit risky to join on dates, let's generate a date key
df_dates['date_key'] = df_dates['dates'].dt.strftime('%Y%m%d').astype(int)

In [35]:
df_dates

         dates  year  month month_name  day day_of_the_week  date_key
0   2016-01-01  2016      1    January    1          Friday  20160101
1   2016-01-02  2016      1    January    2        Saturday  20160102
2   2016-01-03  2016      1    January    3          Sunday  20160103
3   2016-01-04  2016      1    January    4          Monday  20160104
4   2016-01-05  2016      1    January    5         Tuesday  20160105
..         ...   ...    ...        ...  ...             ...       ...
361 2016-12-27  2016     12   December   27         Tuesday  20161227
362 2016-12-28  2016     12   December   28       Wednesday  20161228
363 2016-12-29  2016     12   December   29        Thursday  20161229
364 2016-12-30  2016     12   December   30          Friday  20161230
365 2016-12-31  2016     12   December   31        Saturday  20161231

[366 rows x 7 columns]

In [36]:
#let's add the date key columns to both bike and weather dataframes
df_bike = df_renamed
df_bike['date_key'] = df_bike['start_time'].dt.strftime('%Y%m%d').astype(int)
df_weather['date_key'] = df_weather['DATE'].dt.strftime('%Y%m%d').astype(int)

C:\Users\mikael.vestri\AppData\Local\Temp\ipykernel_29360\4201010177.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bike['date_key'] = df_bike['start_time'].dt.strftime('%Y%m%d').astype(int)

In [37]:
#now creating table for demographics
# users (user id(surrogate), user type, birth year, gender)

demo_columns = ['user_type', 'birth_year', 'gender']
df_demo = df_renamed[demo_columns]
df_demo = df_demo.drop_duplicates(subset=demo_columns).reset_index(drop=True)

In [38]:
df_demo['demographics_id'] = df_demo.index
df_demo

      user_type  birth_year  gender  demographics_id
0    Subscriber        1964       2                0
1    Subscriber        1962       1                1
2    Subscriber        1962       2                2
3    Subscriber        1984       1                3
4      Customer        1979       0                4
..          ...         ...     ...              ...
148  Subscriber        1989       0              148
149    Customer        1967       1              149
150    Customer        1966       1              150
151  Subscriber        1900       1              151
152    Customer        1988       2              152

[153 rows x 4 columns]

merging dataframes to have the id column for demographics on the bikes df

In [39]:
df_merged = df_bike.merge(df_demo, on=['user_type', 'birth_year', 'gender']).sort_values('id').reset_index(drop=True)

In [40]:
#we can drop the demographics columns now because we have the key
df_bike_final = df_merged.drop(['user_type', 'birth_year', 'gender'], axis=1)

In [41]:
df_bike_final

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,id,date_key,demographics_id
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,0,20160101,0
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,1,20160101,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,2,20160101,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,3,20160101,3
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,4,20160101,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247199,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,247199,20161231,58
247200,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,247200,20161231,4
247201,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,247201,20161231,35
247202,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,247202,20161231,42
247203,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,247203,20161231,26

In [42]:
# creating table for stations
starts = df_bike[['start_station_id','start_station_name','start_station_latitude','start_station_longitude']]
ends = df_bike[['end_station_id','end_station_name','end_station_latitude','end_station_longitude']]

starts.columns = ['station_id', 'station_name', 'latitude', 'longitude']
ends.columns = ['station_id', 'station_name', 'latitude', 'longitude']


df_stations = pd.concat([starts,ends]).drop_duplicates()

# station_columns = ['station_id, station_name, latitude, longitude']
# df_stations = pd.DataFrame(df_bike())

In [43]:
df_bike_final = df_bike_final.drop(['start_station_name','start_station_latitude','start_station_longitude','end_station_name','end_station_latitude','end_station_longitude'],axis=1)

In [44]:
df_bike_final.head()

,trip_duration,start_time,stop_time,start_station_id,end_station_id,bike_id,id,date_key,demographics_id
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,3209,24647,0,20160101,0
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,3213,24605,1,20160101,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,3213,24689,2,20160101,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,3203,24693,3,20160101,3
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,3210,24573,4,20160101,4

In [45]:
df_demo.head()

    user_type  birth_year  gender  demographics_id
0  Subscriber        1964       2                0
1  Subscriber        1962       1                1
2  Subscriber        1962       2                2
3  Subscriber        1984       1                3
4    Customer        1979       0                4

## Establishing connection with the database

We'll use SQLAlchemy to make the connection with the Postgres SQl

In [47]:
pip install psycopg2 sqlalchemy

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.27-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mikael.vestri\appdata\local\miniconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.1/1.2 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.2 MB 5.6 MB/s eta 0:00:01
   ------------------------- -------------- 0.7/1.2 MB 5.8 MB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 5.7 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.27-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/2.1 MB 17.2 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 17.0 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 16.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 16.5 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   --------------------------------------- 292.8/292.8 kB 17.7 MB/s eta 0:00:00
Installing collected packages: psycopg2, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 psycopg2-2.9.9 sqlalchemy-2.0.27
Note: you may need to restart the kernel to use updated packages.

In [48]:
from sqlalchemy import create_engine
import psycopg2

engine = create_engine('postgresql://postgres:tiofluis@localhost/bike_analysis')

In [56]:
# inserting the data
# df_bike_final.to_sql('bike_rides',con=engine,if_exists='append', index=False)
# df_weather.to_sql('weather',con=engine,if_exists='append', index=False)
df_dates.to_sql('dates',con=engine,if_exists='append', index=False)
df_stations.to_sql('stations',con=engine,if_exists='append', index=False)
df_demo.to_sql('demographics',con=engine,if_exists='append', index=False)

153

In [55]:
df_demo.dtypes

user_type          object
birth_year          int64
gender              int64
demographics_id     int64
dtype: object